//navbar
.website-name {
  font-size: 4em;
  font-family: 'Cabin Sketch', cursive;
  margin: 4px auto;
  text-decoration: none;
  a {
    color: #27AE5F;
    text-decoration: none;
    &:hover {
      color: #2b2929;
    }
  }
}

.standard-button {
  a {
    color: #2b2929;
    font-size: 20px;
  }
  &:hover {
    color: #27AE5F;
    text-decoration: none;
  }
}

.back-button {
  padding: 20px 0 0 0;
}

//navbar
.tagline {
  font-family: 'Homemade Apple', cursive;
  font-size: 20px;
  margin: 0px 5px;
}

//navbar
.login-register {
  float: right;
  margin-top: -51px;
}

.gm-style {
  font-size: 20px;
}

//navbar
.adding {
  padding-top: 30px;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 1px solid #27AE5F;

}
