//navbar
.website-name {
  font-size: 4em;
  font-family: 'Cabin Sketch', cursive;
  color: #27AE5F;
  margin: 4px auto;
}

//navbar
.tagline {
  font-family: 'Homemade Apple', cursive;
  font-size: 20px;
  margin: 0px 5px;
}

//navbar
.login-register {
  float: right;
}

.gm-style {
  font-size: 20px;
}

//navbar
.adding {
  padding-top: 30px;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: block;
  margin: auto;
}
