//show page image
.img-show {
  min-height: 300px;
}

.foodbank-name-show {
  font-size: 30px;
}

.foodbank-address-show {
  font-size: 25px;
}

.foodbank-telephone-show {
  font-size: 20px;
}

.foodbank-website-show {
  font-size: 15px;
}

.foodbank-email-show {
  font-size: 15px;
}
