@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Homemade+Apple');
@import './partials/navbar';
@import './partials/buttons';
@import './partials/chat';
@import './partials/index';
@import './partials/show';

.google-map {
  height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
